@import url("https://use.typekit.net/pic0zpp.css");

body {
    color: black;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    height: 100vh;
    width: 100vw;
    margin: 11px;
    grid-template-columns: 32% 16% 31% 18% 3%;
    grid-template-rows: 26% 8% 9% 19% 33% 5%;
    border: 2px solid red;
    align-content: center;
    max-width: 1400px;
}

.block {
    background-color: red;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}



.h1 {
    text-align: right;
    font-size: 5rem;
    font-family: ff-real-text-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    line-height: 110%;
    letter-spacing: 3px;
}

.p {
    margin-left: 2%;
    line-height: 80%;
    font-size: 6rem;
    font-family: ff-real-text-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.h2 {
    font-family: ff-real-text-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
    color: red;
    line-height: 185%;
    letter-spacing: 0.75px;
}

.h3 {
    vertical-align: bottom;
    font-family: ff-real-text-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 1.5rem;
    line-height: 600%;
}

.grundtext {
    font-family: ff-real-text-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column: 2 / span 3;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-align: justify;
}

.h4 {
    font-family: ff-real-text-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
    font-size: 2rem;
    text-align: justify;
    align-content: stretch;
    letter-spacing: 1.25px;
}

.veranstalter {
    font-family: ff-real-text-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4rem;
    margin-top: 8%;
}

.kontur {
    border: 10px solid red;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}

@media screen and (width < 1500px) {
    .h1 {
        font-size: 20px;
    }

    .h2 {
        font-size: 20px;
    }
}